 
.wrapper {
  height: 100vh;
  width: 100vw; 
  margin: 0;
  background-image: url(/about-bg.jpeg);
  box-shadow: inset 0 100px 250px 120px #000a1e;
  padding: 0 2em;
  display: flex;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 6em;
  flex-direction: column;
}
.wrapper>*{
  font-size: 1.5em;
  margin-top: 1em;
}
.wrapper>*>b{
  font-size: 1.2em;
}

.expDesc1 , .expDesc3{
  text-align: end;
}

.expDesc2{
  text-align: start;

}
