/**
 * ------------------------------------------
 *  Responsive Grid Media Queries - 1280, 1024, 768, 480
 *   1280-1024   - desktop (default grid)
 *   1024-768    - tablet landscape
 *   768-480     - tablet 
 *   480-less    - phone landscape & smaller
 * --------------------------------------------
 */

@media all and (min-width:1280px){

/* Default  */

.wrapper{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    background-image: url(/expandedCoffeCup.jpg); 
    padding: 2em;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.messageContainer{ 
    position: relative;
    margin-top: 10vh;
    height: 80vh;
    width: 90vw;
    padding: 0vh 1vw ;
}
.message{
    position: relative; 
    
    margin: clamp(0vh, 5vh , 7vh) 0 clamp(0vh, 0vh , 10vh) 0;
}
.message>p{
    font-size: 4em;
    font-weight: bold;
    text-align: center;
    margin: 0 0 -25vh 0;
    padding: 0 1.5em;
}
.container{
    height: 27vh;
    margin:0 0 -30vh 0;
}
.mail{
    position: relative;
    font-size: 3.5em;
    text-align: center;
    margin: 0 0 -3em 0;
    padding: 0;
    top: 40vh;
}
.mail>p{  
    font-size: 1.3em;
    font-weight: bold;
}
.socialWrapper{
position:relative;
top: clamp(-5%, 0%, 5%);
display: flex;
justify-content: center;
height: 0;
padding: 0.5em;
right: -15em;
} 
.animContainer{
position: relative;
right: -50em;
top: 10em;
transform: rotate(-5deg); 
}

}
@media all and (min-width: 1024px) and (max-width: 1280px) {
    .wrapper{
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size:cover;
        margin: 0;
        background-image: url(/expandedCoffeCup.jpg); 
        padding: 2em;
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .messageContainer{ 
        position: relative;
        margin-top: 10vh;
        height: 80vh;
        width: 90vw;
        padding: 0vh 1vw ;
    }
    .message{
        position: relative; 
        
        margin: clamp(0vh, 5vh , 7vh) 0 clamp(0vh, 0vh , 10vh) 0;
    }
    .message>p{
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        margin: 0 0 -25vh 0;
        padding: 0 1.5em;
    }
    .container{
        height: 27vh;
        margin:0 0 -30vh 0; 
    }
    .mail{
        position: relative;
        font-size: 2.5em;
        text-align: center;
        margin: 0 0 -3em 0;
        padding: 0;
        top: 40vh;
    }
    .mail>p{  
        font-size: 1.3em;
        font-weight: bold;
    }
    .socialWrapper{
    position:relative;
    top: clamp(-5%, 0%, 5%);
    display: flex;
    justify-content: center;
    height: 0;
    padding: 0.5em;
    right: -15em;
    } 
    .animContainer{
    position: relative;
    right: -50em;
    top: 10em;
    transform: rotate(-5deg); 

    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {


    .wrapper{
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size:cover;
        margin: 0;
        background-image: url(/expandedCoffeCup.jpg); 
        padding: 2em;
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .messageContainer{ 
        position: relative;
        margin-top: 10vh;
        height: 80vh;
        width: 90vw;
        padding: 0vh 1vw ;
    }
    .message{
        position: relative; 
        
        margin: clamp(0vh, 5vh , 7vh) 0 clamp(0vh, 0vh , 10vh) 0;
    }
    .message>p{
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        margin: 0 0 -25vh 0;
        padding: 0 1.5em;
    }
    .container{
        height: 27vh;
        margin:0 0 -30vh 0;
    }
    .mail{
        position: relative;
        font-size: 2.5em;
        text-align: center;
        margin: 0 0 -3em 0;
        padding: 0;
        top: 40vh;
    }
    .mail>p{  
        font-size: 1.3em;
        font-weight: bold;
    }
    .socialWrapper{
    position:relative;
    top: clamp(-5%, 0%, 5%);
    display: flex;
    justify-content: center;
    height: 0;
    padding: 0.5em;
    right: 1em;
    } 
    .animContainer{
        display: none;
    }


}

@media all and (min-width: 480px) and (max-width: 768px) {

    .wrapper{
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-size:cover;
        margin: 0;
        background-image: url(/expandedCoffeCup.jpg); 
        padding: 2em;
        display: flex;
        width: 100vw;
        height: 100vh;
    }
    .messageContainer{ 
        position: relative;
        margin-top: 10vh;
        height: 80vh;
        width: 90vw;
        padding: 0vh 1vw ;
    }
    .message{
        position: relative; 
        
        margin: clamp(0vh, 5vh , 7vh) 0 clamp(0vh, 0vh , 10vh) 0;
    }
    .message>p{
        font-size: 3em;
        font-weight: bold;
        text-align: center;
        margin: 0 0 -25vh 0;
    }
    .container{
        height: 27vh;
        margin:0 0 -30vh 0;
    }
    .mail{
        position: relative;
        font-size: 2.5em;
        text-align: center;
        margin: 0 0 -3em 0;
        padding: 0;
        top: 40vh;
    }
    .mail>p{  
        font-size: 1.3em;
        font-weight: bold;
    }
    .socialWrapper{
    position:relative;
    top: clamp(-5%, 0%, 5%);
    display: flex;
    justify-content: center;
    height: 0;
    padding: 0.5em;
    } 
    .animContainer{
        display: none;
    }

}

@media all and (max-width: 480px) { 
.wrapper{
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0;
    background-image: url(/expandedCoffeCup.jpg);
    background-position: center;
    padding: 2em;
    display: flex;
    width: 100vw;
    height: 100vh;
}
.messageContainer{ 
    position: relative;
    margin-top: 10vh;
    height: 80vh;
    width: 90vw;
    padding-top: 2vh;
    font-weight: bold;
}
.message{
    position: relative; 
    
    margin: clamp(0vh, 5vh , 7vh) 0 clamp(0vh, 0vh , 10vh) 0;
}
.message>p{
    font-size: 2em;
    text-align: center;
    margin: 0 0 -25vh 0;
}
.container{
    height: 27vh;
    margin:0 0 -30vh 0;
}
.mail{
    position: relative;
    font-size: 1.5em;
    text-align: center;
    margin: 0 0 -3em 0;
    padding: 0;
    top: 40vh;
}
.mail>p{  
    font-size: 1.3em;
    font-weight: bold;
}
.socialWrapper{
position:relative;
top: clamp(-5%, 0%, 5%);
display: flex;
justify-content: center;
height: 0;
padding: 0.5em;
} 
.animContainer{
    display: none;
}
}


/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles here */
}

/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}
 

.C, .J
{
  color:#fff;
  letter-spacing:10px;
  font-size:6em;
  font-weight:bold; 
  filter:blur(10px);
}

.C, .J 
{
  animation: smoke 8s forwards ease-in-out infinite;
}

@keyframes smoke
{
  0%
  {
    transform: translateX(15px);
    opacity:0; 
  }
  25%
  {
    transform: translateX(0px) translateY(0) rotate(20deg);
    opacity:0.75; 
  }
  
  50%
  {
    transform: translateY(-45px) translateX(20px);
    opacity:0.5; 
  }

  75%
  {
    transform: translateY(0px)  rotate(20deg);
    opacity:0.5; 
  }

  100%
  {
    transform: translateX(15px);
    opacity:0; 

  }
  
}

.C
{
  animation-delay: 0s;
}

.J
{
  animation-delay: .2s;
} 
